.main-navbar{
    height: 50px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0 10px;
    .nav-btns{
        display: flex;
        gap: 10px;
    }
}