.dropdown-btn{
    max-width: 300px;
    padding:3px;
    min-height: 40px;
    
}

.selected-item-container{
    padding:3px;
}

.selected-item-container{
    padding:3px;
}

ng-multiselect-dropdown{
    max-width:300px;
    min-height: 40px;
    padding:3px;
}


form{
    width: 300px;
}