.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .signup-form {
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 450px;
    .radio-btns {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .input-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }
}

input {
  transition: 0.4s;
  outline: none;
  border-radius: 2px;
  border: 1px solid;
}
input.ng-invalid.ng-touched {
  // box-shadow:-5px 0px 0px 0px red;
  border: 4px solid tomato;
}

input.ng-valid[required] {
  border: 4px solid lightgreen;
}

.errors {
  color: red;
}
