<section class="signup-page">
    <form (ngSubmit)="onSubmit(form)" class="signup-form" #form="ngForm">
        <div class="input-field">
            <label for="fullname">Full Name</label>
            <input ngModel type="text" name="fullname" placeholder="Full Name" required #fullname="ngModel">
            <p class="errors" *ngIf="fullname.invalid&&fullname.touched">Error in Full Name </p>
        </div>
        <div class="input-field">
            <label for="email">Email</label>
            <input ngModel type="email" name="email" placeholder="Email" required email #email="ngModel">
            <p class="errors" *ngIf="email.invalid&&email.touched">Error in Email </p>
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input ngModel type="password" name="password" placeholder="Password" required #password="ngModel">
            <p class="errors" *ngIf="password.invalid&&password.touched">Error in Password </p>
        </div>
        <button [disabled]="form.invalid">Signup</button>
    </form>

    <div>Or</div>

    <h1>google auth</h1>
</section>
<!-- input [(ngModel)]="user.name" 2 way bind -->
<!-- input [ngModel]="user.birthdate|date'yyyy-mm-dd'"   (ngModelChange)="user.birthdate" -->
<!-- to create an object its ngGroupModel -->