<section class="org-signup">

    <form (ngSubmit)="onSubmit(form)" class="org-signup-form" #form="ngForm">
        <div class="input-field">
            <input
            ngModel
            type="text"
            name="name"
            placeholder=" "
            required
            #name="ngModel"
            autocomplete="off"
            />
            <span class="floating">Name</span>
        </div>
        <div class="input-field">
            <input
            ngModel
            type="text"
            name="description"
            placeholder=" "
            required
            #description="ngModel"
            autocomplete="off"
            />
            <span class="floating">Description</span>
        </div>
        <div class="input-field">
            <input
            ngModel
            type="text"
            name="location"
            placeholder=" "
            required
            #location="ngModel"
            autocomplete="off"
            />
            <span class="floating">Location</span>
        </div>
        <div class="org-contact" ngModelGroup="contact" #prefs="ngModelGroup">
            <div class="input-field">
                <input ngModel type="text" name="phone" placeholder=" " required #contact.phone="ngModel" autocomplete="off"/>
                <span class="floating">Phone</span>
            </div>
            <div class="input-field">
                <input ngModel type="email" name="email" placeholder=" " required #contact.email="ngModel" autocomplete="off"/>
                <span class="floating">Email</span>
            </div>
            <div class="input-field">
                <input ngModel type="text" name="website" placeholder=" " #contact.website="ngModel" autocomplete="off"/>
                <span class="floating">Website</span>
            </div>
            <div class="input-field">
                <input ngModel type="text" name="twitter" placeholder=" " #contact.twitter="ngModel" autocomplete="off"/>
                <span class="floating">Twitter</span>
            </div>
            <div class="input-field">
                <input ngModel type="text" name="facebook" placeholder=" " #contact.facebook="ngModel" autocomplete="off"/>
                <span class="floating">Facebook</span>
            </div>
        </div>
        <button>Apply</button>
    </form>
    
</section>