<section class="login-page-container">
  <section class="login-page" *ngIf="!(authService.auth.authState | async)">
    <form class="login-form" #form="ngForm" (ngSubmit)="signIn(form)">
      <div class="input-field">
        <input type="email" ngModel name="email" placeholder=" " autocomplete="off" />
        <span class="floating">Email</span>
      </div>

      <div class="input-field">
        <input type="password" ngModel name="password" placeholder=" " autocomplete="off"/>
        <span class="floating">Password</span>
      </div>
      <button>Login</button>
    </form>

    <div>Or</div>

    <button appGoogleAuth>Google</button>
  </section>
  <button (click)="authService.signOut()" *ngIf="(authService.auth.authState | async)">Sign out</button>
</section>
