<section class="login-page-container">

    <section class="login-page">
        
        <form class="login-form">
            <div class="input-field">
                <label for="email">Email</label>
                <input type="email">
            </div>
            
            <div class="input-field">
                <label for="password">Password</label>
                <input type="password">
            </div>
            <button>Login</button>
        </form>
        
        <div>Or</div>
        
        <h1>google auth</h1>
    </section>
</section>