<section class="login-page-container">
  <section class="login-page">
    <form class="login-form" #form="ngForm" (ngSubmit)="signIn(form)">
      <div class="input-field">
        <label for="email">Email</label>
        <input type="email" ngModel name="email" placeholder="Email" />
      </div>

      <div class="input-field">
        <label for="password">Password</label>
        <input type="password" ngModel name="password" placeholder="Password"/>
      </div>
      <button>Login</button>
    </form>

    <div>Or</div>

    <h1>google auth</h1>
  </section>
</section>
