<section class="user-profile-container">
    <main class="user-profile">
        <div>
           
        </div>

    </main>
</section>

        <!-- <div class="input-field">
            <label for="birthdate">Birthdate</label>
            <input [(ngModel)]="birthdate" type="date" name="birthdate" placeholder="Birthdate">
        </div>
        <div class="radio-btns">
            <div>
                <input ngModel type="radio" id="male" name="gender" value="male" checked>
                <label for="male">Male</label>
            </div>
            <div>
                <input ngModel type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
            </div>
            <div>
                <input ngModel type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label>
            </div>
        </div> -->